<footer>
    {% if site.github.is_project_page %}
      <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
    {% endif %}
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    
    <p><a href="mailto:james.yong.erp@gmail.com">email</a></p>
	<p><a href="https://github.com/james-yong">github.com/james-yong</a></p>
	<p><a href="/privacy">Privacy Policy</a></p>
</footer>
<!--[if !IE]><script>fixScale(document);</script><![endif]-->
