{% if page.comments == true %}
    {% if site.staticman.branch %}
      {% if site.data.comments[page.slug] %}
        <!-- Start static comments -->
        <div id="comments" class="js-comments">
          <h3 class="tile__header">Comments</h3>
          {% assign comments = site.data.comments[page.slug] | sort %}
          {% for comment in comments %}
            {% assign avatar = comment[1].avatar %}
            {% assign email = comment[1].email %}
            {% assign name = comment[1].name %}
            {% assign url = comment[1].url %}
            {% assign date = comment[1].date %}
            {% assign message = comment[1].message %}
            {% include comment.html index=forloop.index avatar=avatar email=email name=name url=url date=date message=message %}
          {% endfor %}
        </div>
        <!-- End static comments -->
      {% endif %}

      <div class="panel panel-default">
          <div class="panel-heading"><h4>Leave a Comment</h4><br/><p>Your email address will not be published. Required fields are marked <span class="required">*</span></p></div>
          <div class="panel-body">
              <form id="comment-form" method="post" action="https://api.staticman.net/v2/entry/{{ site.github.owner_name }}/{{ site.github.repository_name }}/{{ site.staticman.branch }}/comments">
                  <div class="form-group">
                      <label for="comment-form-message">Comment<small class="required">*</small> <small>(<a href="https://daringfireball.net/projects/markdown/">Markdown</a> is supported)</small></label>
                      <textarea class="form-control" type="text" rows="3" id="comment-form-message" name="fields[message]" tabindex="1"></textarea>
                  </div>
                  <div class="form-group">
                      <label for="comment-form-name">Name<small class="required">*</small></label>
                      <input class="form-control" type="text" id="comment-form-name" name="fields[name]" tabindex="2" />
                  </div>
                  <div class="form-group">
                      <label for="comment-form-email">Email address<small class="required">*</small></label>
                      <input class="form-control" type="email" id="comment-form-email" name="fields[email]" tabindex="3" />
                  </div>
                  <div class="form-group">
                      <label for="comment-form-url">Website <small>(optional)</small></label>
                      <input class="form-control" type="url" id="comment-form-url" name="fields[url]" tabindex="4"/>
                  </div>
                  <div class="hidden">
                      <input type="hidden" name="options[slug]" value="{{ page.slug }}">
                      <input name="options[redirect]" type="hidden" value="{{ site.github.url }}">
                      <input type="hidden" name="fields[hidden]"/>
                  </div>
                  <div class="form-group">
                      <button type="submit" id="comment-form-submit" tabindex="5" class="btn btn-primary">Submit Comment</button>
                  </div>
              </form>

          </div>
      </div>

    {% endif %}
{% endif %}
